/* * {
    border: 2px solid black;
} */
.flex-box{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-color: #E1D9D1; 
    margin: auto;
}

.a{
    min-width: 100%;
    flex-grow: 1;
}

.destination-cardb{
    display: flex;
    flex: 1;
    min-height: 30%;
    justify-content: space-evenly;
    align-items: center;
}

.name{
    text-align: center;
    width: 50%;
    margin: auto;
    padding: auto;
    font-weight: 500;
    font-size: 30px;
}

.destination-img{
    min-width: 45%;
    max-height: 60vh;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.destination-descriptionc{
    display: flex;
    text-align: center;
    flex: 1;
    background-color: rgb(133, 131, 131);
    width: 50vh;
    justify-content: center;
}

.description-txt, .price{
    justify-content: center;
    background-color: rgb(58, 53, 53);
}

.reserve{
    size: small;
    margin: auto;
}

.center{
    margin: auto;
}

@media (min-width: 600px) {
    .flex-box {
      flex-direction: row;
    }
}

