body{
    background-color: #E1D9D1;
}

.background{
    background: rgb(84, 84, 63);
    min-height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 80px;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 80px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
}

.login-title {
    margin-top: 25px;
    margin-bottom: -65px;
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 8px;
    border-radius: 10px;
    border: none;
    min-width: 200px;
    text-align: center;
}

button {
    border: none;
    background-color: white;
    padding: 8px;
    min-width: 75px;
    border-radius: 10px;
    cursor: pointer;
}

.link-btn {
    background: none;
    color: blue;
    text-decoration: underline;
}