.Search{
    width: 18rem;
    margin: auto;
    padding: auto;
    margin-top: 45px;
    background-color: transparent;
}

.label{
    width: 100%;
}

.title{
    color: white;
    font-weight: 500;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.round{
    width: 100%;
    text-align: center;
}

.paradise{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 8px;
}