.Search{
    width: 18rem;
    margin: auto;
    padding: auto;
    /* margin-left: 350px;*/
    margin-top: 45px;
    /*margin-bottom: -50px; */
    background-color: transparent;
    /* z-index: -1; */
}

.title{
    color: white;
    font-weight: 500;
    font-size: 30px;
    margin-left: 48px;
    margin-bottom: -2px;
}

.round{
    margin-left: 28px;
    text-align: center;
}

.paradise{
    margin-left: 46px;
    margin-top: 8px;
}