body{
    /* background: rgb(84, 84, 63); */
    background-color: #E1D9D1;
}

.background{
    background: rgb(84, 84, 63);
    min-height: 100vh;
}

.container{
    border-radius: 15px ;
    justify-content: center;
    display: flex;
    position: relative;
    top: 40px;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    margin: auto;
}

h1{
    text-align: center;
    margin-top: 15px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.buttons{
    width: 100%;
}

.back-btn{
    float: left;
}

.submit-info{
    float: right;
}