.grid{
    margin-bottom: auto;
} 

.fav-img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    position:absolute;
    filter: brightness(0.4);
    top: 0;
    left: 0;
}

.Trips{
    width: 18rem;
    margin: auto;
    padding: auto;
    margin-top: 45px;
    background-color: transparent;
}